body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    text-align: center;
    /* background: black; */
    color: rgb(1, 75, 8);
    margin: 0;
    background-image: url(back.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
  }

  
.navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 41, 5);
  color:#ffffff;
  padding: 0 5%;
  box-shadow: 0 0px 20px -0px rgb(43, 40, 40);
}
  
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2%;
    margin: 1%;
    /* align-items:center; */
    justify-content:center;
       
  }

  .rps-grid {
    padding: 1%;
    /* margin: 1%; */
    background: rgb(255, 255, 255);
  }

  .rps-grid h4{
    padding: 1%;
    color: white;
    background-color:rgb(175, 94, 2) ;
  }

  #gamehistory{
    width: 50vh;
    padding: 1%;
    background: rgb(255, 255, 255);
  }

  #gamehistory h2{
    color: rgb(255, 255, 255);
    padding: 1%;
    margin-top: 0px;
    background-color: rgb(175, 94, 2);
  }

  strong {
    /* text-decoration: underline; */
    font-size: 18px;
    color: rgb(175, 4, 4);
  }
  
  button {
    border: none;
    background-color: white;
  }

  button img{
    width: auto;
    height: 90px;
    margin: 0 20px;
    /* padding: 5px; */

  }
  button:active {
    background: rgb(193, 196, 192);
    border-radius: 20px;
  }
  
  .scoreboard {
    width: 16em;
    margin: auto;
    border: 2px solid rgb(175, 94, 2);
  }
  .scoreboard h2 {
    border-bottom: 5px solid rgb(175, 94, 2);
    margin: 0;
    padding: 10px;
  }
  .scoreboard table {
    margin: 10px auto;
    width: 100%;
    border-collapse: collapse;
  }
  .scoreboard th, .scoreboard td {
    text-align: center;
  }
  .scoreboard td {
    font-size: 3em;
    padding: 0 20px;
  }
  
  #status {
    margin-top: 10px;
    
  }
